{% extends 'ConsultationBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Docteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ docteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ docteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ docteur.prenom }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ docteur.specialite }}</td>
            </tr>
            <tr>
                <th>Horaire_travail</th>
                <td>{{ docteur.horairetravail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('docteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('docteur_edit', { 'id': docteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
