{% extends 'ConsultationBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Les patients</h1>
    <br>
    <button  class="btn btn-info"><a href="{{ path('patient_new') }}">Ajouter un patient</a></button>
    <br><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Nom</th>
                <th scope="row">Prenom</th>
                <th scope="row">Phone</th>
                <th scope="row">Adresse</th>
                <th scope="row">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': patient.id }) }}">{{ patient.id }}</a></td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patient_show', { 'id': patient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
