{% extends 'ConsultationBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Liste des patients</h1>
    <br>
    <a href="{{ path('patient_new') }}" class="btn btn-primary">Ajouter un patient</a>
    <br><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row">Nom</th>
                <th scope="row">Prenom</th>
                <th scope="row">Tel</th>
                <th scope="row">Adresse</th>
                <th scope="row">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patient_show', { 'id': patient.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
