{% extends 'ConsultationBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Les Consultations</h1>
    <br>
        <a href="{{ path('cons_new') }}" class="btn btn-primary">Ajouter une consultation</a>
    <br><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row">Patient</th>
                <th scope="row">Docteur</th>
                <th scope="row">Date</th>
                <th scope="row">Heure</th>
                <th scope="row">Remarques</th>
                <th scope="row"></th>
            </tr>
        </thead>
        <tbody>
        {% for con in cons %}
            <tr>
            
                <td> <a href="{{ path('cons_show', { 'id': con.id }) }}">{{ con.patient }}</a></td>
                <td><a>{{ con.doc }}</a></td>
                <td>{% if con.date %}{{ con.date|date('d/m/Y') }}{% endif %}</td>
                <td>{% if con.heure %}{{ con.heure|date('H:i') }}{% endif %}</td>
                <td>{{ con.remarques }}</td>
                <td>{% if con.venu %}Annulé{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
