{% extends 'ConsultationBundle:Default:base.html.twig' %}

{% block body %}

    <h1>Conultation de {{ con.patient }} par le Docteur {{ con.doc }}</a></td></h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if con.date %}{{ con.date|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{% if con.heure %}{{ con.heure|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ con.remarques }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{% if con.venu %}Annulé{% endif %}</td>
            </tr>
        </tbody>
    </table>

 
        
            <a href="{{ path('cons_edit', { 'id': con.id }) }}">Modifier</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
     
{% endblock %}
